<html>
    <head>
        <meta charset="utf-8">
        <title>Demo ReactJs HauLe</title>
        <script crossorigin src="/lib/react.js"></script>
        <script crossorigin src="/lib/react-dom.js"></script>
        <script src="/lib/browser.min.js"></script>
    </head>
    <body>
        <div id="root"></div>
        <script type="text/babel">
            ReactDOM.render(
                <div>
                    <h1> Le Hau </h1>
                    <h1> Le Hau </h1>
                </div>
                , document.getElementById("root"));
        </script>
    </body>
</html>