<html>
    <head>
        <meta charset="utf-8">
        <title>Demo ReactJs HauLe</title>
        <script crossorigin src="/lib/react.js"></script>
        <script crossorigin src="/lib/react-dom.js"></script>
        <script src="/lib/browser.min.js"></script>
    </head>
    <style>
        .mauvang{
            background-color: yellow;
        }
    </style>
    <body>
        <div id="root"></div>
        <script src="trangchu.js" type="text/babel"></script>
    </body>
</html>